<html>
<body>
<extend name="Public:indexHeader"/>
<block name="title">
	<ol class="breadcrumb">
  		<li><a href="#">首页</a></li>
  		<li><a href="#">CASIO</a></li>
  		<li class="active">BABY-G系列</li>
	</ol>
</block>
<block name="content">
	<div class="contain">
		<div class="row">
			<div class="col-md-4">
				<div class="thumbnail">
					<img src="__PUBLIC__/Img/{$good_info.title}.jpg" alt="G_SHOCK1">
				</div>
			</div>
			<div class="col-md-8">
				<div class="page-header"  id="summary">
					<h3><input id="goodName" type="hidden" value="{$good_info.title}" />{$good_info.title}</h3>
					<input id="goodId" type="hidden" value="{$good_info.id}" />
				</div>
				<div class="panel panel-default">	
					<div class="panel-body">
						<label><input id="goodPrice" type="hidden" value="{$good_info.outPrice}"><h4>价格:￥{$good_info.outPrice}</h4></label>
						<div  id="city2">
								<h4 class="col-sm-2" for="rName">所在地区：</h4>
    							<div class="col-sm-2">
									<select class="prov form-control"></select>
								</div>
								<div class="col-sm-2">
									<select class="city form-control " disabled="disabled"></select>
								</div>
								<div class="col-sm-2">
									<select class="dist form-control" disabled="disabled"></select>
								</div>
    					</div>
    				</div>
					<div class="panel-body">		
						<div class="select-good-num">
							<h4 style="float:left;">数量：</h4>
							<input id="numDown" type="button" value="-"/>
							<input id="goodNum" type="text" value="1"/>
							<input id="numUp" type="button" value="+"/>
							<input id="addToCart" type="button" class="btn btn-success" value="加入购物车" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</block>


</body>
</html>