<html>
<body>
<extend name="Public:indexHeader"/>

<block name="title">	
</block>
<block name="content">
	<div class="contain">
      <div class="row">
      	<div class="col-md-2"> </div>
		<div class="col-md-8">
			<ul class="progress-1">
				<li class="step-1">1.我的购物车</li>
				<li class="step-2">2.填IE核对订单信息</li>
				<li class="step-3">3.成功提交</li>
			</ul>
		</div>
		<div class="col-md-2"></div>
	  </div>
	</div>
	<div class="contain">
		<div class="col-md-2"> </div>
		<div class="col-md-8">
			<table class="table table-striped table-hover">		
			<center><h3>我的购物车</h3></center>
			<thead >
				<th><input type="checkbox" id="checkall" name="checkall" >全选</th>	
				<th>商品</th>
				<th>价格</th>
  				<th>数量</th>
				<th>操作</th>
			</thead>
			<foreach name="cart_list.result" item="cl">
			 <tr class="success">
				<td class="col-md-1"><input type="checkbox" class="checkone" name="{$cl[0][good_id]}"></td>
				<td class="col-md-6"><img src="__PUBLIC__/Img/{$cl[0][good_name]}.jpg" alt="G_SHOCK1" style="width:10%">
				<span>{$cl[0][good_name]}</span></td>
				<td><input class="good_price" id="goodPrice{$cl[0][good_id]}" value="{$cl[0][good_price]}" name="{$cl[0][good_price]}" type="hidden">￥{$cl[0][good_price]}</td>
				<!-- <td>{$cl[0][good_num]}</td> -->
				<td><div class="select-good-num">
					<form >
						<input  class="numDown" name="{$cl[0][good_id]}"  type="button" value="-"/>
						<input class="input-mini" id="goodNum{$cl[0][good_id]}" type="text" value="{$cl[0][good_num]}"/>
						<input class="numUp" name="{$cl[0][good_id]}" type="button" value="+"/>
					</form>
				</div></td>
				<td>删除</td>
			 </tr>
			 
			</foreach>
			</table>
			<div id="cart_total" >
				<h4>总价格：</h4>
				<div id="total_price" class="col-md-2">
				</div>
				<div id="confirm" class="col-md-4">
					<a href="{:U('Goods/checkCart',array('id'=>$gl['id']))}" class="btn btn-success" role="button">确定</a> 
				</div>
			</div>
		</div>
	</div>
</block>
</html>
</body>