.progress{
	padding-top:6px;
	display: block;
	clear: both;
}
ul{
	list-style: none;
}
.progress-1 li{
	float:left;
	line-height:23px;
	text-align:center;
	margin-right: 56px;
}
.progress-1 .step-1{
	color:#7abd54;
}
.progress-1{
	background: url("../Img/step1.png") no-repeat;
	width:481px;
	padding-top: 23px;
}
.input-mini{
	width:30px;
}
.cart-total{
	background-color: #f7f7f7;
}

.progress-2 li{
	float:left;
	line-height:23px;
	text-align:center;
	margin-right: 56px;
}
.progress-2 .step-2{
	color:#7abd54;
}
.progress-2{
	background: url("../Img/step2.png") no-repeat;
	width:481px;
	padding-top: 23px;
}