<include file="Public:indexHeader" />
<!-- <include file="Index:index" /> -->
  <div class="row">
	<div class="pull-left col-md-3 left"> 	  	
		<block name="left">		
<div>
    <ul class="nav nav-pills" role="tablist">
      <li role="presentation" ><a href="#">商品分类</a>
        <ul class="nav nav-pills nav-stacked" role="tablist">
          <li role="presentation" name="casio" onclick=leftList()><a href="#">卡西欧CASIO</a></li>
          <li role="presentation" name="swatch"><a href="#">SWATCH</a></li>  
          <li role="presentation" name="rolex"><a href="#">劳力士ROLEX</a></li>
          <li role="presentation" name="omega"><a href="#">Ω OMEGA</a></li>
          <li role="presentation" name="seiko"><a href="#">精工SEIKO</a></li>
        </ul>
      </li>
      <li role="presentation" class="active"><a href="#">首页</a></li>
      <li role="presentation"><a href="#">促销</a></li>
      <li role="presentation"><a href="#">留言</a></li>
    </ul>
</div>
         
    	</block>
	</div>	
	<div class="pull-middle col-md-9 middle ">
	   <block name="content">    	
   			 主内容
     </block>	
  </div>
  </div>
</div>