<extend name="Public:base"/>
<block name="left">
	<ul>
		<li>商品管理</li>
		<ul>
			<li><a href="{:U('Goods/GoodsLists')}">商品列表</a></li>
			<li><a href="{:U('Goods/GoodsAdd')}">新增商品</a></li>
		</ul>
	</ul>
</block>

<block name="content">
	 <div id="notice"></div>
	<form role="form" id="newGood" action="{:U('Goods/GoodsAdd')}" enctype="multipart/form-data" method="post" >
		<h3><center>新增的商品</center></h3>
		<div class="form-group">			
			<input type="text" class="form-control" name="title" id="title" placeholder="商品名称">
		</div>
		<div class="form-group">
		  <div class="input-group">			
			<div class="input-group-addon">￥</div>
			<input type="text" class="form-control" name="inPrice" id="inPrice" placeholder="商品进货价">
		  </div>
		</div>
		<div class="form-group">
		  <div class="input-group">			
			<div class="input-group-addon">￥</div>
			<input type="text" class="form-control" name="outPrice" id="outPrice" placeholder="商品售价">
		  </div>
		</div>
		<div class="form-group">
			<input type="text" class="form-control" name="remain" id="remain" placeholder="商品存货量">
		</div>
<!-- 		<div class="form-group">
			<div class="input-group">
				<div class="input-group-addon">图片的名称</div>
				<input type="text" class="form-control" name="photo" />
			</div>
			<input type="file" name="photo" id="name" />		  
		</div> -->
		<div class="form-group">			
			<input type="text" class="form-control" name="type" id="type" placeholder="商品类型">
		</div>
		<div class="form-group">
		  <label class="radio-inline">
			<input type="radio" name="isOnSale" id="isOnsale" value="1">上架
		  </label>
		  <label class="radio-inline">
			<input type="radio" name="isOnSale" id="isOnsale" value="0">下架
		  </label>
	    </div>
		<button id="submitGood" type="submit" class="btn btn-default">确定</button>
	</form>
	
</block>